

.content-width {
  width: 86%;
  height: 100vh;
  margin: 0 auto;
  top: -70px;
  position: relative;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.slideshow-items {
  position: relative;
  width: 100%;
  height: 300px;
}

.item {
  position: absolute;
  width: 100%;
  height: auto;
}

.item-image-container {
  position: relative;
  width: 42%;
}

.item-image-container::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 101%;
  height: 101%;
  background: transparent;
  opacity: 0;
  z-index: 1;
}

.item-image {
  position: relative;
  width: 100%;
  height: auto;
  opacity: 0;
  display: block;
  border-radius: 2%;
  /* transition: property name | duration | timing-function | delay  */
  transition: opacity .3s ease-out .85s;
}

.item.active .item-image {
  opacity: 1;
}

.item.active .item-image-container::before {
  opacity: .8;
}

.item-description {
  position: absolute;
  top: 80px;
  right: 0;
  width: 50%;
  padding-right: 4%;
  line-height: 1.8;
}

/* Staggered Vertical Items ------------------------------------------------------*/
.item-header {
  position: absolute;
  top: 80px;
  left: -3%;
  z-index: 100;
}

.item-header .vertical-part {
  margin: 0 2%;
  font-family: 'Questrial', sans-serif;
  -webkit-font-smoothing: auto;
  font-size: 4vw;
  color: rgb(0, 0, 0);
  padding-left: 1%;
  text-decoration: none;
}

.vertical-part {
  overflow: hidden;
  display: inline-block;
  font-family: 'Questrial', sans-serif;
  font-size: 1.2em;
}

.vertical-part b {
  display: inline-block;
  transform: translateY(100%);
}

.item-header .vertical-part b {
  transition: .5s;
}

.item-description .vertical-part b {
  transition: .21s;
}

.item.active .item-header .vertical-part b {
  transform: translateY(0);
}

.item.active .item-description .vertical-part b {
  transform: translateY(0);
}

/* Controls ----------------------------------------------------------------------*/
.controls {
  position: relative;
  text-align: right;
  z-index: 1000;
}

.controls ul {
  list-style: none;
}

.controls ul li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  background:#bdbdd5;;
  cursor: pointer;
}

.controls ul li.active {
  background:#6a6a77;;
}

@media screen and (max-width: 700px) {
.item-image-container{

  left:20%;
  top: -260px;
  width: 70%;
  
}

.item{
  top:80%;
  right: 5%;

}

.item-description{
  width: 80%;
}

.item-header{
  top:-170px;
  left:16%;
}
.vertical-part{
  font-size: 3.4vw;
}

.controls{
  top:40%;
  right: 33%;
}

}
