body, html {
  height: 100%;
  margin: 0px;
  padding: 0;
  background-color: whitesmoke;
  position: relative; /* Elementul main va acoperi videoclipul */
  z-index: 1; /* Plasăm conținutul principal deasupra videoclipului */
  /* Alte stiluri pentru containerul principal */
  text-decoration: none;
}

a{
  text-decoration: none;
}

header {
  text-align: center; /* Centram textul orizontal */
  padding: 0vh;
  background-color: transparent; /* Fundal de culoare pentru antet */
  color: #fff; /* Culoarea textului */
  letter-spacing: 1px;
  top: 40px;
  position: relative;
}


.logoheader{
  width: 300px;
  position: relative;
  bottom: 20px;
}

header h1 {
  font-size: 1.5em; /* Dimensiunea fontului de 2em */
  margin: 0; /* Eliminăm marginile implicite ale titlului */
  font-family: 'Questrial', sans-serif;
  color: black;
}



/* Stilurile pentru butonul "back-button" */
.back-button {
  display: block; /* Inițial ascuns */
  text-align: center; /* Centrat textul pe orizontală */
  color: black; /* Text negru */
  background-color: transparent; /* Fundal transparent */
  border: 0px solid black; /* Contur negru */
  border-radius: 5px; /* Colțuri rotunjite */
  width: 120px; /* Lățime de 3 pixeli */
  height: 40px; /* Înălțime de 5 pixeli */
  line-height: 40px; /* Înălțimea liniei pentru a centra textul vertical */
  font-size: 14px; /* Dimensiunea fontului de 3 pixeli */
  cursor: pointer; /* Cursor pointer la hover pentru a indica că este interactiv */
  transition: background-color 0.3s, color 0.3s; /* Efect de hover pentru fundal și culoarea textului */
  margin: 0 auto; /* Centrat pe orizontală în containerul său */
  align-self: top center;
  position: relative;
  top: 60px;
  left:27px;
  text-decoration: none;


}

/* Stil pentru textul din buton */
.back-button p {
  margin: 0; /* Eliminăm marginile implicite ale textului */
  font-family: 'Questrial', sans-serif;
  position: relative;
  text-decoration: none;
  

}

/* Efect de hover pentru butonul "back-button" */
.back-button:hover {
  background-color: transparent; /* Fundal negru la hover */
}



/* Stilurile CSS pentru animație */
@keyframes slideDown {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.slide-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-decoration: none;
}
.slide-button {
  background: transparent;
  color: black;
  border: none;
  padding: 10px 0;
  margin: 10px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
  border: 0.2px solid black;
  border-radius: 5px;
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  text-decoration: none;

}
.slide-button:hover {
  background-color: black;
  color: #fff;
}

.content_slide {
  display: flex;
  padding: 10px;
  border: 0px solid #ccc;
  background-color: transparent;
  animation: slideDown 0.5s ease-in-out; /* Aplicarea animației */
  font-family: 'Questrial', sans-serif;
}

.content_slide p{
  font-size: 15px;
  text-align: center;
}



div.pullUpDown p:before, div.pullUpDown p:after
{
    position: absolute;
    width: 150%;
    height: 1px;
    left: -10px;
    content: '';
    background: gray;
    opacity: 0.3;
    transition: all 0.3s;
    text-decoration: none;
}

div.pullUpDown p:before
{
    top: 0px;
} 

div.pullUpDown p:after
{
    bottom: 0px;
}

div.pullUpDown p:hover:before, div.pullUpDown p:hover:after
{
    height: 100%;
}

.transparent
{
    background: whitesmoke;
}





/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
form label,
form legend {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
}
form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}


/*.container {
  position: relative;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 40%;
  font-family: 'Questrial', sans-serif;
  overflow: visible;
  float: left;


}
*/

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "form logodot"; 
  padding: 10%;
}
.form { grid-area: form; }
.logodot { grid-area: logodot; }
.form { grid-area: form; }
.logodot { grid-area: logodot; }

/* Stilizarea butonului de submit */
input[type="submit"] {
  background-color: black; /* culoarea de fundal neagră */
  color: white; /* culoarea textului alb */
  border: none; /* eliminarea conturului butonului */
  border-radius: 10px; /* colțuri rotunjite */
  padding: 10px 20px; /* spațierea interioară */
  cursor: pointer; /* cursor de mână la hover */
  font-family: 'Questrial', sans-serif;
}

/* Efect de hover pentru butonul de submit */
input[type="submit"]:hover {
  background-color: #333; /* culoare de fundal mai închisă la hover */
  font-family: 'Questrial', sans-serif;
}

/* Stilizarea casetelor de input și a textarea */
input[type="text"],
input[type="email"],
textarea {
  border: 1px solid #ccc; /* contur gri */
  border-radius: 10px; /* colțuri rotunjite */
  padding: 5px; /* spațierea interioară */
  margin-bottom: 10px; /* spațiere între câmpuri */
  font-family: 'Questrial', sans-serif;
}

/* Stilizarea etichetelor pentru casetele de input și textarea */
label.form-label {
  display: block; /* eticheta ocupă întreaga lățime a containerului */
  margin-bottom: 5px; /* spațiere între etichete */
  font-family: 'Questrial', sans-serif;
  font-size: 50px;
}


/* Stilizarea textului pentru placeholder la 10px */
::placeholder {
  font-size: 15px;
}

.container p{
  font-size: 12px;
  width: 200%;
}
.container i{
  font-size: 10px;
  width: 100%;
  letter-spacing: 2px;
  padding: 10px;
  position: relative;
  right: 10px;
  top: -10px;
  text-decoration: none;
}

.container span{
  font-family: 'Questrial', sans-serif;
  font-size: 1.2em;
  margin-left: 2%;
}


.container h2{
  top: -20%;
  font-size: 25px;
  font-family: 'Questrial', sans-serif;
  
}

.image{
  width: 25%;
  top: 180px;
  left: 300px;
  position: relative;
}

@media screen and (max-width: 700px) {
  .container {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "logodot"
      "form"; 
    align-items: center;
    position: relative;
    bottom: -10%;
  }
  .form{
    bottom: 48%;
    width: 100%;
    position: relative;
  }
  .logodot{
    width: 100%;
    align-items: center;
    z-index: -10;
    position: relative;
    bottom: 30%;
  }

  .container img{
    width: 100%;
  }

  .container p{
    width: 100%;
    position:relative;
    bottom: 120%;
  }
  .container h2{
    text-align: center;
  }

  .container i{
    width: 100%;
  }

  
}
